@import '../common'

.navbar
  //height 6.5rem
  background-color $primaryColor
  padding 1rem
  .nav-links
  .logo
    display inline-block
    a
      text-decoration none
      color $navLinkColor
  .logo
    color $lightTextColor
    //margin-right 50%
    h1
      margin remify(14px) 0
      line-height remify(24px)
  .nav-links
    margin remify(14px) 0
    float right
    span
      color $lightTextColor
      font-size 1.2rem
      line-height remify(24px)
      padding:0 remify(15px)
