@import url(http://fonts.googleapis.com/css?family=Roboto)
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css)

$primaryColor = #0277bd
$accentColor = #1de9b6
$bgColor = #efefef
$darkBgColor = #263238
$lightBgColor = #37474f
$lightTextColor = #f5f5f5
$darkTextColor = #212121
$navLinkColor = #ffffff

body
  height 100%
  // browsers default to 16px for font-size,
  // so setting top-level font-size to 62.5%
  // scales 1rem to equal 10px.
  font 62.5% 'Roboto', sans-serif




set-font-size(value) {
    font-size: value; /* add PX (or original value) as backup */

    if (value is inherit) {
        /* do nothing, "inherit" has no unit */
    } else {
        font-size: remify(value);
    }
}

remify(value) { /* separate mixin, so it can be used elsewhere */
    u = unit(value);

    if (u is 'px') {
        return unit(value/16, 'rem');
    } else {
        return unit(value, u);
    }
}